logging:
  version: 1
  disable_existing_loggers: false

  formatters:
    standard:
      format: "%(asctime)s | %(levelname)s | %(name)s | %(message)s"

  handlers:
    file:
      class: logging.FileHandler
      level: INFO
      formatter: standard
      filename: ${LOG_PATH}

    console:
      class: logging.StreamHandler
      level: INFO
      formatter: standard

  root:
    level: INFO
    handlers: [file, console]